{% extends 'base.html.twig' %}
{% set selected_nav = 'office' %}


{% block body %}
    <div class="page-header">
        <h1>Modification d'un bureau de vote</h1>
    </div>

    {{ form_errors(form) }}

    <form method="post" action="{{ path('office_edit', {'id': form.vars.data.id}) }}" class="form-horizontal search-office-form">
        {% include 'office/_form.html.twig' %}
    </form>
{% endblock %}
