<div class="form-group">
    <p class="form-text">Votre date de naissance</p>
    {{ form_widget(birthDateForm.day, {'attr': {'class': 'form-select'}}) }}
    {{ form_widget(birthDateForm.month, {'attr': {'class': 'form-select'}}) }}
    {{ form_widget(birthDateForm.year, {'attr': {'class': 'form-select'}}) }}
</div>
