<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>Procuration Macron</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Procuration Macron">
    <meta name="author" content="En Marche !">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
</head>
<body data-autocomplete-src="{{ path('subscribe_voting_office_results') }}">
    {% block body %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $("input.autocomplete").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: $("body").data('autocomplete-src'),
                    data: {
                        term: request.term
                    },
                    success: function(data) {
                        response($.map(data, function(item) {
                            return {
                                label: item.name,
                                value: item.id
                            }
                        }));
                    }
                })
            }
        });
    </script>
    {% block javascripts %}{% endblock %}
</body>
</html>
