<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="utf-8">
    <title>Procuration Macron</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Procuration Macron">
    <meta name="author" content="En Marche !">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <link href="https://code.jquery.com/ui/1.12.1/themes/flick/jquery-ui.css" rel="stylesheet">
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
</head>
<body>
    {% block body %}{% endblock %}

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(function() {
            var searchForms = $('.search-office-form');

            searchForms.each(function(key, item) {
                item = $(item);
                item.find('.city-autocomplete').autocomplete({
                    minLength: 2,
                    source: function(request, response) {
                        $.ajax({
                            url: '{{ path('subscribe_voting_city_results') }}',
                            method: 'POST',
                            data: { term: request.term },
                            success: response
                        });
                    },
                    select: function(event, ui) {
                        var select = item.find('.office-select');
                        select.addClass('office-select-loading');

                        $.ajax({
                            url: '{{ path('subscribe_voting_office_results') }}',
                            method: 'POST',
                            data: {
                                city: ui.item.city,
                                postalCode: ui.item.postalCode
                            },
                            success: function(data) {
                                select.removeClass('office-select-loading');
                                select.empty();

                                $.each(data, function(key, office) {
                                    var option = $('<option>');
                                    option.attr('value', office.id);
                                    option.text(office.name);

                                    select.append(option);
                                });
                            }
                        });
                    }
                });
            });
        });
    </script>
    {% block javascripts %}{% endblock %}
</body>
</html>
