<form method="post" action="{{ path('subscribe_voting_office') }}" class="form-box form-box--compacted">
    <div class="form-content">
        <div>
            {% include 'default/_search_office_form.html.twig' %}
        </div>
        <div class="center">
            <button class="form-btn">Je continue</button>
        </div>
    </div>
</form>
