{% extends 'default/_form_step.html.twig' %}
{% set form_path = path('subscribe_elections') %}
{% form_theme form '_form.html.twig' %}

{% block step_body %}
    <p class="text-medium center">Je fais procuration</p>
    {{ form_widget(form.election_rounds) }}
    {{ form_rest(form) }}
{% endblock %}
