{% extends 'default/_form_step.html.twig' %}
{% set form_path = path('subscribe_my_address') %}


{% block step_body %}
    <p class="text-medium center">Mon adresse</p>
    <div class="form-group">
        <p class="form-text">Je suis domicilié au</p>
        <div class="form-inputs-address">
            {% include '_address_form.html.twig' %}
            {{ form_rest(form) }}
        </div>
    </div>
{% endblock %}
