parameters:
    env(DATABASE_HOST):         db
    env(DATABASE_PORT):         3306
    env(DATABASE_SOCKET):       ~
    env(DATABASE_NAME):         enmarche_procuration
    env(DATABASE_USER):         enmarche
    env(DATABASE_PASSWORD):     enmarche

    env(SECRET):                ab2f3477e2b72055492b75f12490b172

    env(MAILJET_TRANSACTIONAL_PUBLIC_KEY):     ''
    env(MAILJET_TRANSACTIONAL_PRIVATE_KEY):    ''
    env(MAILJET_CAMPAIGN_PUBLIC_KEY):          ''
    env(MAILJET_CAMPAIGN_PRIVATE_KEY):         ''
