{% extends '::base.html.twig' %}
{% set selected_nav = 'election' %}


{% block body %}
    <div class="page-header">
        <h1>Modification d'une nouvelle élection</h1>
    </div>
    <form method="post" action="{{ path('election_edit', {'id': form.vars.data.id}) }}" class="form-horizontal">
        {% include 'election/_form.html.twig' %}
    </form>
{% endblock %}
