{% extends 'public.html.twig' %}

{% block body %}
    <div class="l-container">
        <div class="form-group">
            <h1 class="form-text">Inscription en tant que mandataire</h1>
            <p>Votre inscription a bien été prise en compte et nous vous en remercions.</p>
        </div>
    </div>
{% endblock %}
